<app-header></app-header>
<div class="videos">
  <div class="video" *ngFor="let video of videos">
    <img (click)="openVideo(video.id)" style="cursor: pointer;" class="preview-image" [src]="video.photoUrl || 'assets/images/noimage.png'" alt="{{ video.name }}"/>
    <div style="display: flex; justify-content: space-between; padding: 5px; align-items: center;">
      <a>{{ video.name }}</a>
      <img (click)="openChannel(video.channel.id)" style="cursor: pointer;" class="channel-photo" [src]="video.channel.photoUrl || 'assets/images/noimage.png'" alt="Channel Photo">
    </div>
    <label>{{ video.statistics.countWatches }} просмотров</label>
    <label>{{ convertToDate(video.createdAt) }}</label>
  </div>
</div>
