<app-header></app-header>
<div class="container">
  <div class="registration-container">
    <h1 class="registration-title">Создание канала</h1>
    <form class="form" [formGroup]="registerChannelForm" (ngSubmit)="onSubmit()">
      <div class="input-div">
        <input formControlName="name" placeholder="Название канала" class="input" type="text" id="name" name="name" ngModel required>
      </div>
      <div class="input-div">
        <textarea formControlName="description" placeholder="Описание канала" class="input-area" type="text" id="description" name="description" ngModel required></textarea>
      </div>
      <button type="submit" [disabled]="!registerChannelForm.valid"  [ngStyle]="{ 'opacity': registerChannelForm.valid ? 1 : 0.5 }" class="submit-button">Создать</button>
    </form>
  </div>
</div>
