<app-header></app-header>
<div *ngIf="channel">
  <div style="display: flex; justify-content: space-between;">
    <h2>Channel Info</h2>
    <button *ngIf="user.id !== channel.user.id">Подписаться</button>
  </div>
  <div style="display: flex; justify-content: space-between;">
    <p>Channel Name: {{ channel.name }}</p>
    <div class="upload-photo-container" *ngIf="user.id === channel.user.id">
      <img [src]="channel.photoUrl || 'assets/images/noimage.png'" alt="Channel Photo" (click)="triggerFileInput()">
      <input type="file" #fileInput (change)="onPhotoChange($event)" style="display: none;" accept="image/*">
    </div>
  </div>
  <p>Description: {{ channel.description }}</p>
  <!-- Другие поля, которые вы хотите отобразить -->
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Название видео:</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label for="description">Описание:</label>
      <input type="text" id="description" formControlName="description">
    </div>
    <div>
      <label for="video">Файл видео:</label>
      <input type="file" id="video" (change)="onFileChange($event)" accept="video/*" formControlName="video">
    </div>
    <button type="submit" [disabled]="uploadForm.invalid">Отправить</button>
  </form>
</div>
<div class="videos">
  <div class="video" *ngFor="let video of videos" (click)="openVideo(video.uuid)">
    <img class="preview-image" src="assets/images/noimage.png" alt="{{ video.name }}}"/>
    <a>{{ video.name }}</a>
  </div>
</div>
