<app-header></app-header>
<div *ngIf="channel">
  <h2>Channel Info</h2>
  <p>Channel Name: {{ channel.channelName }}</p>
  <p>Description: {{ channel.description }}</p>
  <!-- Другие поля, которые вы хотите отобразить -->
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Название видео:</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label for="description">Описание:</label>
      <input type="text" id="description" formControlName="description">
    </div>
    <div>
      <label for="video">Файл видео:</label>
      <input type="file" id="video" (change)="onFileChange($event)" accept="video/*" formControlName="video">
    </div>
    <button type="submit" [disabled]="uploadForm.invalid">Отправить</button>
  </form>
</div>
<div class="videos">
  <div class="video" *ngFor="let video of videos" (click)="openVideo(video.uuid)">
    <img class="preview-image" src="assets/images/noimage.png" alt="{{ video.name }}}"/>
    <a>{{ video.name }}</a>
  </div>
</div>
