.register-labels {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-label {
  display: flex;
  justify-content: space-between;
}

.register-window {
  align-items: center;
  display: flex;
  width: fit-content;
  flex-direction: column;
}
